.opt{
    display: flex;
    justify-content: center;
    background-color: darkblue;
}
#home{
    margin-right: 14rem;
    font-size: 40px;
    background-color: antiquewhite;
    padding: 2rem;
    border-radius: 2rem;
}
#qr{
    font-size: 40px;
    padding: 2rem;
    background-color: antiquewhite;
    border-radius: 2rem;
}

@media(max-width:480px) {
    #home{
      margin:0;
      margin-right: 3rem;
      font-size: 15px;
    }
    #qr{
        font-size: 15px;
    }
}