body{
    background-color: darkblue;
}
#inp{
    padding: 18px;
    width: 21rem;
    border-radius: 19px;

}
#btn{
    padding: 12px;
    outline: none;
    border-radius: 19px;
    margin-left: 2rem;
    color: slateblue;
    font-weight: bold;
    font-size: 15px;
    background-color: #d2e37d;
}
.shortPortion{
   margin-top: 6rem;
   height: 30rem;
   
}
.media{
    display: flex;
    justify-content: center;
    
}
.shrink{
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    margin-top: 2rem;
    
}
.hello{
    padding: 1rem;
   width: 50rem;
   background-color: tomato;
   border-radius: 1rem;

}
#result{
    color: rgb(204, 15, 15);
    margin-left: 30px;
}
#urlData{
    color: rgb(30 74 210);
    font-size: 22px;
    font-weight: bolder;
    
}
#danda{
    color: darkviolet;
}
#CopyLinkDi{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  
   
}
.short{
    display: flex;
   width: 65rem;
   padding: 1rem;
   background-color: white;
   border-radius: 2rem;
   justify-content: center;
}
#copy{
    padding: 12px;
    outline: none;
    border-radius: 19px;
    margin-left: 2rem;
    color: slateblue;
    font-weight: bold;
    font-size: 15px;
   box-shadow: 2px 3px 3px;
}
#clip{
    font-size: 15px;
    background-color: greenyellow;
    color: white;
    height: 2rem;
}
#shorturl{
    color: rgb(22, 201, 46);
    font-size: 22px;
    font-weight: bold;
}
@media(max-width:480px){
    .hello {
       
        width: 19rem;
       
    }
    .short {
        display: flex ;
        width: 20rem;
        padding: 1rem;
        background-color: white;
        border-radius: 2rem;
        justify-content: center;
        flex-wrap: wrap;
    }
    #shorturl {
        color: rgb(22, 201, 46);
        font-size: 15px;
        font-weight: bold;
    }
    #result {
        color: rgb(204, 15, 15);
        margin-left: 30px;
    }
    #inp {
        padding: 17px;
        width: 21rem;
        border-radius: 19px;
    }
    #btn {
        padding: 9px;
        outline: none;
        border-radius: 19px;
        margin-left: 1rem;
        color: slateblue;
        font-weight: bold;
        font-size: 15px;
        background-color: #d2e37d;
        box-shadow: 3px 2px 2px;
    }
}